@using HeartAttackApp.Helper
@model CardinalPServices.ModelData.PatientList
@{ViewBag.Title = "Patient's List";}
<style>
    
    /* CSS */
    .button-24 {
        background: #FF323A;
        border: 1px solid #FF323A;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-24:hover,
        .button-24:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
        }

        .button-24:active {
            opacity: .5;}
        
</style>

@{
    if (TempData["Message"] != null)
    {
    <script>
                    alert('@TempData["Message"]');
    </script>
    }

}
<br/>
<div>
    <a class="button-24" style="text-decoration:none" asp-controller="Patient" asp-action="PatientInfo">Prediction</a>
</div>
<br/>
<div>
    <table id="TblHistory" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <td>
                    Patient Name
                </td>
                <td>
                    Sugar Level
                </td>
                <td>
                    Blood Pressure
                </td>
                <td>
                    Chlorestrol Level
                </td>
                <td>
                   Action
                </td>
            </tr>
        </thead>

            @if (Model.patientList.Count() > 0)
            {
                foreach (var item in Model.patientList)
                {
                    <tr>
                        <td>
                            @item.PatientName
                        </td>
                        <td>
                        @item.SugarLvl
                           
                        </td>
                        <td>
                        @item.BloodPressure
                          
                        </td>
                        <td>
                        @item.ChlorestrolLvl
                    </td>
                    <td>
                        <a class="button-24" style="text-decoration:none;" href="@Url.Action("GetFactor","Patient", new {iResult=Encryption.Encrypt(item.PatientID.ToString()) })">Prediction Result</a>

                        @if (item.PatientID == 2 || item.PatientID != null)
                        {
                            <a asp-action="DeletePatientData" asp-route-PatientID="@Encryption.Encrypt(item.PatientID.ToString())" class="button-24" style="text-decoration:none;">Delete</a>
                        }
                    </td>
                    </tr>
                }
            }

    </table>
</div>
<script>
    $(document).ready(function () {
        var iGridHeight = $(window).height() - 500;
      //  debugger;
        $("#TblHistory").DataTable({
            scrollY: iGridHeight,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                //targets: [0, 2]
            }],
            select: {
                style: 'os',
                selector: 'td:first-child',
            },
            order: [
                [1, 'asc'],
            ]
        });
        $('.dataTables_scrollBody').height('auto');
    });
</script>